@{
    ViewBag.Title = "Index";
}
<h2>Menu</h2>
<a asp-action="Register" asp-controller="Account">Registeration</a>
<a asp-action="Login" asp-controller="Account">Login</a>
<a asp-action="AllCases" asp-controller="Case">AllCases</a>